@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.4;
}
input,
select,
textarea,
button,
a,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type='date']::-webkit-calendar-picker-indicator {
  @apply dark:text-red-300 dark:bg-white rounded-[50%] cursor-pointer;
}
@layer utilities {
  .input-autofill:autofill,
  .input-autofill:autofill:hover,
  .input-autofill:autofill:focus,
  .input-autofill:autofill:active {
    -webkit-text-fill-color: #000;
    caret-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .dark .input-autofill:autofill,
  .dark .input-autofill:autofill:hover,
  .dark .input-autofill:autofill:focus,
  .dark .input-autofill:autofill:active {
    -webkit-text-fill-color: #fff;
    caret-color: #fff;
  }
}
